/* General Setting */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Header setting
  

   Amendment (For developers reference): 
   1.change all ".header" to "header" 
   2.change all ".header div" to"header nav" to align with the html coding 
   */
   
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
} 

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo{
    color: #d9dcd6;
}

nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li { 
    display: inline-block;
    margin-left: 25px;
}

/* Body setting */
/* Hyperlink color setting */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Paragraph font size setting */
p {
    font-size: 16px;
}
/* Hero image setting*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Main section setting 
   
   Amendment (For developers reference):
   1. change ".content" to "section" to align with the html code (remove div)
   2. combine ".search-engine-optimization", ".online-reputation-management" and ".social-media-marketing" into one element - "article"
   3. combine ".search-engine-optimization img", ".online-reputation-management img" and ".social-media-marketing img" into one element - "article img"
   4. combine ".search-engine-optimization h2", ".online-reputation-management h2" and ".social-media-marketing h2" into one element - "article h2"
   */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article img {
    max-height: 200px;
}

article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Aside section setting 
   
   Amendment (For developers reference):
   1. change ".benefit" to "aside" to align with the html code (remove div)
   2. combine ".benefit-lead", ".benefit-brand" and ".benefit-cost" into one element - ".benefit"
   3. combine ".benefit-lead img", ".benefit-brand img" and ".benefit-cost img" into one element - ".benefit img"
   4. combine ".benefit-lead h2", ".benefit-brand h2" and ".benefit-cost h2" into one element - ".benefit h2"
   */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer section setting 
   
   Amendment (For developers reference):
   1. change ".footer" to "footer" to align with the html code (remove div)
   2. change ".footer h2" to footer h2 for the coding alignment 
   */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
